<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://yandex.st/highlightjs/7.2/highlight.min.js"></script>
		<link href="http://yandex.st/highlightjs/7.2/styles/github.min.css" rel="stylesheet"  type="text/css" />
		<link href="http://static.bbci.co.uk/frameworks/barlesque/2.44.2/orb/4/style/orb-ie.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">SassDoc</a>
					<ul class="nav">
						<% for(var package in packages) { %>
						<li class="<%= (currentPackage == packages[package]) ? 'active' : '' %>"><a href="/packages/<%= packages[package] %>"><%= packages[package] %></a></li>
						<% } %>
					</ul>
				</div>
			</div>

			<% for(var component in components) { %>
  			<div class="row-fluid">
  				<div class="span12">
					<% for(var i = 0; i < components[component].length; i++) { %>
					<div class="border">
						<h2><%= components[component][i].docBlock['@name'] || '' %></h2>
						<div class="description"><%- components[component][i].docBlock['@description'] || '' %></div>

						<% if (components[component][i].docBlock['@import']) { %>
						<h3>Imports</h3>
						<pre><code class="html"><%= components[component][i].docBlock['@import'] %></code></pre>
						<% } %>

						<h3>Sass</h3>
						<pre><code class="css"><%= components[component][i].codeBlock %></code></pre> 

						<% if (components[component][i].docBlock['@markup']) { %>
						<h3>Example</h3>
						<div class="styleguide-markup">
							<iframe width="100%" seamless srcdoc="<style>*{margin:0;padding:0}<%= components[component][i].css %></style><div id='markup'><%= components[component][i].docBlock['@markup'] %></div>"></iframe>
						</div>
						<pre><code class="html"><%= components[component][i].docBlock['@markup'] %></code></pre>
						<% } %>
					</div>
					<% } %>
				</div>
				<hr />
			</div>
			<% } %>
		</div>
		<script type="text/javascript">
			$('iframe').load(function () {
				$(this).height($('#markup',$(this).contents()).outerHeight());
			})
			$('pre').each(function (i, e) {
				hljs.highlightBlock(e);
			})
		</script>
	</body>
</html>