<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<h1><%= name %></h1>

		<h2>Sass</h2>
		<pre><%= sass %></pre>

		<h2>CSS</h2>
		<pre><%= css %></pre>

		<h2>Markup</h2>
		<pre><%= markup %></pre>

		<h2>Example</h2>
		<style><%- css %></style>
		<%- markup %>
	</body>
</html>