<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
		<link href="http://yandex.st/highlightjs/7.3/styles/github.min.css" rel="stylesheet"  type="text/css" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">SassDoc</a>
					<ul class="nav">
						<% for(var package in packages) { %>
						<li class="<%= (currentPackage == packages[package]) ? 'active' : '' %>"><a href="/packages/<%= packages[package] %>"><%= packages[package] %></a></li>
						<% } %>
					</ul>
				</div>
			</div>

			<% for(var package in blocks) { %>
			<% for(var block in blocks[package]) { %>
			<% if (blocks[package][block].length) { %>
			<h1><%= block %></h1>
  			<div class="row-fluid">
  				<div class="span12">
					<% for(var i = 0; i < blocks[package][block].length; i++) { %>
					<div class="border">
						<h2><%= blocks[package][block][i].docBlock['@name'] || '' %></h2>
						<div class="description"><%- blocks[package][block][i].docBlock['@description'] || '' %></div>

						<% if (blocks[package][block][i].docBlock['@import']) { %>
						<h3>Imports</h3>
						<pre><code class="html"><%= blocks[package][block][i].docBlock['@import'] %></code></pre>
						<% } %>

						<% if (blocks[package][block][i].docBlock['@extends']) { %>
						<h3>Extends</h3>
						<pre><code class="html"><%= blocks[package][block][i].docBlock['@extends'] %></code></pre>
						<% } %>

						<% if (blocks[package][block][i].docBlock['@markup']) { %>
						<h3>Example</h3>
						<div class="styleguide-markup">
							<iframe width="100%" seamless srcdoc="<%= blocks[package][block][i].external.join('') %><style>*{margin:0;padding:0}<%= blocks[package][block][i].css %></style><div id='markup'><%= blocks[package][block][i].docBlock['@markup'].join('') %></div>"></iframe>
						</div>
						<pre><code class="html"><%= blocks[package][block][i].docBlock['@markup'].join('') %></code></pre>
						<% } %>

						<h3>Sass</h3>
						<pre><code class="scss"><%= blocks[package][block][i].codeBlock %></code></pre> 
					</div>
					<% } %>
				</div>
				<hr />
			</div>
			<% } %>
			<% } %>
			<% } %>
		</div>
		<script type="text/javascript">
			$('iframe').load(function () {
				var iframe = $(this),
					srcdoc = iframe.attr('srcdoc');

				// No srcdoc support
				if (!iframe.contents().find('#markup').length) {
					iframe.css('border', 0).contents().find('body').empty().html(srcdoc);
				}
				iframe.height($('#markup', iframe.contents()).outerHeight());
			})
			$('pre').each(function (i, e) {
				hljs.highlightBlock(e);
			})
		</script>
	</body>
</html>