extends layout

block append header
    ul
        each package in packages
            - var activeClass = ((currentPackage.url == package.url) ? 'active' : '')
            li(class=activeClass)
                a(href="/packages/#{package.url}")= package.name

block append sidebar
    div
        h1 Components
        ul
            each block in blocks
                if block.getTag('name')
                    li
                        a(href="##{block.getID()}")= block.getTag('name').getValue()

block append content
    each block in blocks
        - name = block.getName()
        - description = block.getTag('description')
        - css = block.getCSS();
        - argument = block.getTag('argument')
        - returns = block.getTag('return')
        - imports = block.getTag('import')
        - extend = block.getTag('extend')
        div.row-fluid.block
            div.span12
                h1
                    a(name=block.getID())= name
                    if !only
                        a.only(href="/packages/#{currentPackage.url}/#{block.getID()}") View detail
                    else
                        a.only(href="/packages/#{currentPackage.url}") Back to package
                    
                if block.isVariable
                    h2 Key
                    p= block.getSass().replace(/:.*/, '')
                    h2 Value
                    p= block.getSass().replace(/.*:([^;]*);?/, '$1')
                    if description
                        div(class="description")!= description.getValue()
                else

                if description
                    div(class="description")!= description.getValue()

                if css
                    hr
                    if typeof css === 'string'
                        iframe(width="100%", seamless, srcdoc="#{block.getExternal()}<style>*{margin:0;padding:0}#{block.getCSS()}</style><div id='markup'>#{block.getMarkup()}</div><script>window.onload=function(){parent.iframeLoaded(window.frameElement)};</script>")      
                    else
                        div.alert.alert-block.alert-error 
                            h4 Error parsing Sass (#{css.name}):
                            p= css.friendly
                    hr
                    h2 HTML
                    pre.prettyprint.lang-html.linenums= block.getMarkup()

                if only
                    if argument
                        hr
                        h2 Arguments
                        table
                            - values = argument.getValue()
                            each i in values
                                tr
                                    td
                                        code= values[i].replace(/(\$[^\s]+).*/, '$1')
                                    td= values[i].replace(/\$[^\s]+(.*)/, '$1')

                    if returns
                        hr
                        h2 Returns
                        p= returns.getValue()

                    hr
                    h2 Sass
                    pre.prettyprint.lang-scss.linenums= block.getSass()

                    if imports
                        hr
                        h2 Imports
                        pre.prettyprint.lang-css.linenums= imports.getValue()

                    if extend
                        hr
                        h2 Extends
                        pre.prettyprint.lang-html.linenums= extend.getValue()

block append js
    script
        function iframeLoaded(el) {
            var el = $(el),
                srcdoc = el.attr('srcdoc');

            // No srcdoc support
            if (!el.contents().find('#markup').length) {
                el.contents().find('body').empty().html(srcdoc);
            }
            el.height($('#markup', el.contents()).outerHeight() + 40);
        }