extends layout

block append header
    ul
        each package in packages
            - var activeClass = ((currentPackage.url == package.url) ? 'active' : '')
            li(class=activeClass)
                a(href="/packages/#{package.url}")= package.name

block append sidebar
    div
        h1 Components
        ul
            each block in blocks
                if block.getTagValue('name')
                    li
                        a(href="##{block.getID()}")= block.getTagValue('name')

block append content
    each block in blocks
        div.row-fluid.block
            div.span12
                if block.isVariable
                    h1
                        a(name=block.getID())= block.getTagValue('name') || 'Variable'
                    h2 Key
                    p= block.getSass().replace(/:.*/, '')
                    h2 Value
                    p= block.getSass().replace(/.*:([^;]*);?/, '$1')
                    if block.getTagValue('description')
                        div(class="description")!= block.getTagValue('description')
                else
                    h1
                        a(name=block.getID())= block.getTagValue('name')
                        if !only
                            a.only(href="/packages/#{currentPackage.url}/#{block.getID()}") View detail
                        else
                            a.only(href="/packages/#{currentPackage.url}") Back to package

                    if block.getTagValue('description')
                        div(class="description")!= block.getTagValue('description')

                    if block.getMarkup()
                        hr
                        iframe(width="100%", seamless, srcdoc="#{block.getExternal()}<style>*{margin:0;padding:0}#{block.getCSS()}</style><div id='markup'>#{block.getMarkup()}</div><script>window.onload=function(){parent.iframeLoaded(window.frameElement)};</script>")
                        hr
                        h2 HTML
                        pre.prettyprint.lang-html.linenums= block.getMarkup()

                    if only
                        if block.getTag('argument')
                            hr
                            h2 Arguments
                            table
                                each tag in block.getTag('argument')
                                    tr
                                        td
                                            code= tag.getValue().replace(/(\$[^\s]+).*/, '$1')
                                        td= tag.getValue().replace(/\$[^\s]+(.*)/, '$1')

                        hr
                        h2 Sass
                        pre.prettyprint.lang-scss.linenums= block.getSass()

                        if block.getTag('import')
                            hr
                            h2 Imports
                            pre.prettyprint.lang-css.linenums= block.getTagValue('import')

                        if block.getTag('extends')
                            hr
                            h2 Extends
                            pre.prettyprint.lang-html.linenums= block.getTagValue('extends')

block append js
    script
        function iframeLoaded(el) {
            var el = $(el),
                srcdoc = el.attr('srcdoc');

            // No srcdoc support
            if (!el.contents().find('#markup').length) {
                el.contents().find('body').empty().html(srcdoc);
            }
            el.height($('#markup', el.contents()).outerHeight() + 40);
        }