extends layout

block append header
    div.navbar
        div.navbar-inner
            a.brand(href="#") SassDoc
            ul.nav
                each package in packages
                    - var activeClass = ((currentPackage.url == package.url) ? 'active' : '')
                    li(class=activeClass)
                        a(href="/packages/#{package.url}")= package.name

block append sidebar
    h1 Components
    ul
        each block in blocks
            li
                a(href="##{block.getID()}")= block.getTagValue('name')

block append content
    each block in blocks
        div.row-fluid.block
            div.span12
                h1
                    a(name=block.getID())= block.getTagValue('name')

                div(class="description")!= block.getTagValue('description')

                if block.getMarkup()
                    iframe(width="100%", seamless, srcdoc="#{block.getExternal()}<style>*{margin:0;padding:0}#{block.getCSS()}</style><div id='markup'>#{block.getMarkup()}</div>")
                    h2 HTML
                    pre.prettyprint.lang-html.linenums= block.getMarkup()

                if block.getTag('import')
                    h2 Imports
                    pre.prettyprint.lang-css.linenums= block.getTagValue('import')

                if block.getTag('extends')
                    h2 Extends
                    pre.prettyprint.lang-html.linenums= block.getTagValue('extends')

                h2 Sass
                pre.prettyprint.lang-scss.linenums= block.getSass()

block append footer
    script(type="text/javascript")
        $('iframe').load(function () {
            var iframe = $(this),
                srcdoc = iframe.attr('srcdoc');

            // No srcdoc support
            if (!iframe.contents().find('#markup').length) {
                iframe.css('border', 0).contents().find('body').empty().html(srcdoc);
            }
            iframe.height($('#markup', iframe.contents()).outerHeight());
        })
        $('pre').each(function (i, e) {
            hljs.highlightBlock(e);
        })