<!DOCTYPE html>
<html>
	<head>		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
		<link href="http://yandex.st/highlightjs/7.3/styles/github.min.css" rel="stylesheet"  type="text/css" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">SassDoc</a>
					<ul class="nav">
						<% for(var i in packages) { %>
						<li class="<%= (currentPackage.url == packages[i].url) ? 'active' : '' %>"><a href="/packages/<%= packages[i].url %>"><%= packages[i].name %></a></li>
						<% } %>
					</ul>
				</div>
			</div>

			<h1><%= currentPackage.name %></h1>
			<% for(var i = 0; i < blocks.length; i++) { %>
				<h2><%= blocks[i].getTagValue('name') %></h2>
				<div class="description"><%- blocks[i].getTagValue('description') || '' %></div>

				<% if (blocks[i].getTag('import')) { %>
				<h3>Imports</h3>
				<pre><code class="html"><%= blocks[i].getTagValue('import') %></code></pre>
				<% } %>

				<% if (blocks[i].getTag('extends')) { %>
				<h3>Extends</h3>
				<pre><code class="html"><%= blocks[i].getTagValue('extends') %></code></pre>
				<% } %>

				<% if (blocks[i].getMarkup()) { %>
				<h3>Example</h3>
				<div class="styleguide-markup">
					<iframe width="100%" seamless srcdoc="<%= blocks[i].getExternal() %><style>*{margin:0;padding:0}<%= blocks[i].getCSS() %></style><div id='markup'><%= blocks[i].getMarkup() %></div>"></iframe>
				</div>
				<pre><code class="html"><%= blocks[i].getMarkup() %></code></pre>
				<% } %>

				<h3>Sass</h3>
				<pre><code class="scss"><%= blocks[i].getSass() %></code></pre> 
			<% } %>

		</div>
		<script type="text/javascript">
			$('iframe').load(function () {
				var iframe = $(this),
					srcdoc = iframe.attr('srcdoc');

				// No srcdoc support
				if (!iframe.contents().find('#markup').length) {
					iframe.css('border', 0).contents().find('body').empty().html(srcdoc);
				}
				iframe.height($('#markup', iframe.contents()).outerHeight());
			})
			$('pre').each(function (i, e) {
				hljs.highlightBlock(e);
			})
			$(document).ready(function () {
				var headings = $('h1');
				for (var i = headings.length - 1; i >= 0; i--) {
					headings[i].childHeadings = $('h2', headings[i]);
				}

				console.log(headings);
			});
		</script>
	</body>
</html>