extends layout

block append header
    ul
        each package in packages
            - var activeClass = ((currentPackage.url == package.url) ? 'active' : '')
            li(class=activeClass)
                a(href="/packages/#{package.url}")= package.name

block append sidebar
    div
        h1 Components
        ul
            each block in blocks
                li
                    a(href="##{block.getID()}")= block.getTagValue('name')

block append content
    each block in blocks
        div.row-fluid.block
            div.span12
                h1
                    a(name=block.getID())= block.getTagValue('name')

                div(class="description")!= block.getTagValue('description')

                if block.getMarkup()
                    iframe(width="100%", seamless, srcdoc="#{block.getExternal()}<style>*{margin:0;padding:0}#{block.getCSS()}</style><div id='markup'>#{block.getMarkup()}</div><script>window.onload=function(){parent.iframeLoaded(window.frameElement)};</script>")
                    h2 HTML
                    pre.prettyprint.lang-html.linenums= block.getMarkup()

                if block.getTag('import')
                    h2 Imports
                    pre.prettyprint.lang-css.linenums= block.getTagValue('import')

                if block.getTag('extends')
                    h2 Extends
                    pre.prettyprint.lang-html.linenums= block.getTagValue('extends')

                h2 Sass
                pre.prettyprint.lang-scss.linenums= block.getSass()

block append js
    script
        function iframeLoaded(el) {
            var el = $(el),
                srcdoc = el.attr('srcdoc');

            // No srcdoc support
            if (!el.contents().find('#markup').length) {
                el.contents().find('body').empty().html(srcdoc);
            }
            el.height($('#markup', el.contents()).outerHeight());
        }